#root {
  display: flex;
  background-color: black;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
p {
  font-weight: bold;
  color: #FFF;
  margin: 0
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}
